#my_id_for_table{
	color:red !important;
	font-style:italic !important;
	rules:all !important;
	border: 1px solid #000; 
}
#my_id_for_table td,th{
	bgcolor:green !important;
	border: 1px solid #000;
	}
#my_id_for_table thead tr th{
	border: 1px solid #000;
	color: black
	}

#id_campos{
	display: inline-block;
	}
#id_tipo_via{
	width: 75px;
	}
#id_calle{
	width: 475px;
	}
#id_clase_cp{
	width:50px;
	background-color: blue;
}
#id_provincia{
	width:140px;
	}